h1 {
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #8AAAE5;
}

body {
    background-color: whitesmoke;
}

button.choices {
    color: black;
    background-color: #8AAAE5;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: black;
    gap:20px;

}

button:hover {
    color: white;
    border-radius: 10px;
    border:solid black;
    background-color: grey;
}

button:active {
    box-shadow: 0 0 9e9q inset #0009;
    background-color: var(--c);
    color: #fff;
}

button {
    font-family: system-ui, sans-serif;
    font-size: 3.5rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;
    border: none;
}

.score{
    display:flex;
    justify-content: space-around;
}

.player_score, .computer_score{
    display:flex;
    flex-direction: column;
    padding:10px;
    justify-content: center;
    align-items:center;
}

.selection{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}




